@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 16, 25, 40, 1;
}

* {
    border-color: #D0D5DD;
  }



  body {
    color: #262121;
    background-color:#fff; //#F9FAFB;
    font-weight: 500;
    @apply text-lg;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    letter-spacing: -1.2px;
    line-height: 120%;
  }


  .gradient-text {
    background: linear-gradient(to right, #3c2a99, #db2d1b); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For Firefox */
    color: transparent; /* Fallback for older browsers */
  }

  p{
    margin: 16px 0px;
  }

  .banner{
    @apply bg-gradient-to-r from-[#db2d1b] to-[#3c2a99] text-white text-[14px] font-semibold py-2 px-4 ;
  }

  .container-x {
    @apply container mx-auto px-6 sm:px-8
}
  .social{
     .before{
      height: 100%;
      width: 1px;
      position: absolute;
      top: -10px;
      left: 21px;
      transform: translateY(-100%);
      background-color: #d0d3d8;

    }
     a{
      height: 42px;
      width: 42px;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: linear-gradient(to right, #3c2a99, #db2d1b);
      
      img,svg{
        height: 20px;
        width: 20px;
      }
     }
  }


  .hero-2-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .box-mb{
    display: flex;
    gap:12px;

    h4{
      font-weight: 700;
      margin-bottom: 10px;
    }
  }


  .box-image{
    height: 72px;
    width: 72px;
    background: linear-gradient(to right, #3c2a99, #db2d1b);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-image svg{
    fill:#fff;
    height: 28px;
    width: 28px;
  }

  .center-h{
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
  }

  .rotate-y{
    transform: rotateY(180deg);
  }


  .text-gray{
    color: #7c7c7c;
  }

  footer {
    background: #0e0e0e;
    color: #fff;

    h4{
      color: #fff !important;
    }
    .footer-bg {
        background-position: center center;
        background-size: cover;

        .footer-inner {
            padding-top: 50px;
            padding-bottom: 0px;
        }
        
    }
}
.service-card{
  .service-icon, .service-image{
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }



  &:hover{
    .service-image{
      transform: scale(1.1);
    }

    .service-icon{
      transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: scale(0.8);
    }
   
  }

}